div {
    background-color: blueviolet;
}

/*---------- ROW ----------*/
.row:after {
    clear: both;
}

/*---------- COL ----------*/
.col {
    float: left;
    margin: 0.5% 1% 0.5% 1%;
}

/*---------- GRID ----------*/

/*-----Grid of 2-----*/
.g1-of-2 {
    width: 48%;
}

.g2-of-2 {
    width: 98%;
}

/*-----Grid of 3-----*/
.g1-of-3 {
    width: 31.33%;
}

.g2-of-3 {
    width: 64.66%
}

.g3-of-3 {
    width: 98%;
}

/*-----Grid of 4-----*/
.g1-of-4 {
    width: 23%;
}

.g2-of-4 {
    width: 48%;
}

.g3-of-4 {
    width: 73%;
}

.g4-of-4 {
    width: 98%;
}